<div class="local-container">
  <atom-text colorClass="text-gradient-blue" [weight]="700" [size]="35" [align]="'center'"
    >Services</atom-text
  >
  <div class="grid-2 banner">
    <div>
      <div class="title">
        <atom-text colorClass="text-gradient-blue" [weight]="700" [size]="35"
          >Creación de&nbsp;</atom-text
        >
        <atom-text [weight]="700" [size]="35">páginas web</atom-text>
      </div>
      <div class="description">
        <br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum iure porro
        delectus consequatur accusamus obcaecati hic minus et vero!
      </div>
    </div>
    <div class="center-flex">
      <img class="reporting" src="assets/reporting.png" alt="" srcset="" />
    </div>
  </div>
</div>
