.local-container {
  padding-top: 50px;
  padding-right: 200px;
}

.banner {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: inline-block !important;
  atom-text {
    display: inline-block;
  }
}

img.reporting {
  width: 500px;
}
