<div class="sidebar {{ hideSidebar() && 'hide' }}">
  @for (item of this.sectionList; track $index) {
  <div
    class="sidebar_button  {{
      rla.isActive ? 'bg-primary-blue bg-primary-blue-shadow' : 'defaultColor'
    }}"
    [routerLink]="item.path"
    routerLinkActive="router-link-active"
    #rla="routerLinkActive">
    <atom-icon [name]="item.icon" [color]="rla.isActive ? 'iwhite' : 'igray-2'"></atom-icon>
    <atom-text [colorClass]="rla.isActive ? 'iwhite' : 'igray-2'">{{ item.title }}</atom-text>
  </div>
  }
</div>
