i {
  font-size: 40px;
  &.iwhite {
    color: var(--white) !important;
  }

  &.igray-2 {
    color: var(--gray-2) !important;
  }
}

.icon-bg {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
