body {
  background: rgb(5, 33, 42);
  background: radial-gradient(circle, rgba(5, 33, 42, 1) 0%, rgba(14, 14, 14, 1) 100%);
}

:root {
  --gray-1: #262626;
  --gray-2: #aeaeae;
  --white: red:
}

.bg-primary-blue {
  background: linear-gradient(315deg, rgba(68, 164, 243, 1) 0%, rgba(31, 204, 242, 1) 97%);
}

.bg-primary-blue-shadow{
  box-shadow: 0px 0px 10px 0px rgba(68, 164, 243, 1);
}

.text-gradient-blue{
 background: -webkit-linear-gradient(0deg,#45A0F4 40%, #29F6D5 60%);
 background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
