.local_container {
  padding: 50px;
  .ia-chat {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
      width: 100%;
      // box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        border-radius: 5px;
        color: white;
        padding: 10px 30px;
        background-color: rgb(48, 48, 48);
      }
    }
    .chat {
      background: rgb(244, 198, 103);
      background: linear-gradient(180deg, rgba(244, 198, 103, 1) 0%, rgba(244, 182, 68, 1) 97%);
      padding: 40px;
      border-radius: 20px;
      width: 100%;
      box-sizing: border-box;

      .messages {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
        .message {
          width: 50%;
          padding: 10px;
          padding-left: 15px;
          box-sizing: border-box;
          box-shadow: #0000003b 0px 0px 10px 1px;

          //
          color: white;
          background-color: rgb(46, 46, 46);
          align-self: flex-end;
          border-radius: 100px;
          &[from='me'] {
            color: rgb(46, 46, 46);
            background-color: white;
            align-self: flex-start;
          }
        }
      }
      .input-container {
        input {
          box-shadow: #0000003b -4px 4px 16px 3px;
          border: none;
          outline: none;
          padding: 20px 25px;
          border-radius: 100px;
          width: 100%;
          box-sizing: border-box;
          &::placeholder {
            color: rgb(190, 190, 190);
          }
        }
      }
    }
  }
}
