.sidebar {
  padding-top: 50px;
  background-color: rgb(13, 13, 13);
  width: 250px;
  height: 100vh;
  transition: all ease 0.3s;
  // &:hover {
  //   width: 200px;
  // }
  .options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
    .option {
      background-color: var(--gray-1);
      padding: 10px 15px;
      border-radius: 5px;
    }
  }
}
